:root {
    --main-bg-color: #1c1c1e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background: var(--main-bg-color);
    width: 100%;
    height: 100%;
    display: flex;
}
